.navbar-inner
  .container
    %h4.pull-left MM Platform
    %ul.nav
      %li
        %a{href:'#'} My Mentors
      %li
        %a{href:'#'} My Mentees
    %ul.nav
      %li
        %a{href:'/home/home'} Home
      %li
        %a{href:'/home/list_users'} Users list
      %li
        %a{href:'/home/send_message_to_user'} Send message
    .pull-right
      = link_to "Logout",'#', class:'btn btn-mini btn-danger'
