.navbar.navbar-inverse.navbar-fixed-top
  = render :partial => 'top_nav_bar'
.container{style:'margin-top: 70px;'}
  .input-append
    %input.input-xlarge{type: 'text', id: 'appendedInputButton', placeholder:'Search user name, email or phone'}
    %button.btn{type:'submit'} Go!
  %table.table.table-hover
    %tr
      %th
        Username
      %th
        Email
      %th
      %th
    %tr
      %td
        Parth Barot
      %td
        pa...@gmail.com
      %td
        %a.btn.btn-mini.btn-primary MQuest Mentorship
        %a.btn.btn-mini.btn-danger Cancle Mentorship
      %td
        %a.btn.btn-mini.btn-primary MQuest Menteeship
    %tr
      %td
        Shardul Bhatt
      %td
        sa...@gmail.com
      %td
        %a.btn.btn-mini.btn-primary MQuest Mentorship
        %a.btn.btn-mini.btn-danger Cancle Mentorship
      %td
        %a.btn.btn-mini.btn-primary MQuest Menteeship
    %tr
      %td
        Amit Savani
      %td
        am...@gmail.com
      %td
        %a.btn.btn-mini.btn-primary MQuest Mentorship
        %a.btn.btn-mini.btn-danger Cancle Mentorship
      %td
        %a.btn.btn-mini.btn-primary MQuest Menteeship
    %tr
      %td
        Jignesh Gohel
      %td
        jig...@gmail.com
      %td
        %a.btn.btn-mini.btn-primary MQuest Mentorship
        %a.btn.btn-mini.btn-danger Cancle Mentorship
      %td
        %a.btn.btn-mini.btn-primary MQuest Menteeship
    %tr
      %td
        Parth Barot
      %td
        pa...@gmail.com
      %td
        %a.btn.btn-mini.btn-primary MQuest Mentorship
        %a.btn.btn-mini.btn-danger Cancle Mentorship
      %td
        %a.btn.btn-mini.btn-primary MQuest Menteeship
    %tr
      %td
        Shardul Bhatt
      %td
        sa...@gmail.com
      %td
        %a.btn.btn-mini.btn-primary MQuest Mentorship
        %a.btn.btn-mini.btn-danger Cancle Mentorship
      %td
        %a.btn.btn-mini.btn-primary MQuest Menteeship
    %tr
      %td
        Amit Savani
      %td
        am...@gmail.com
      %td
        %a.btn.btn-mini.btn-primary MQuest Mentorship
        %a.btn.btn-mini.btn-danger Cancle Mentorship
      %td
        %a.btn.btn-mini.btn-primary MQuest Menteeship
    %tr
      %td
        Jignesh Gohel
      %td
        jig...@gmail.com
      %td
        %a.btn.btn-mini.btn-primary MQuest Mentorship
        %a.btn.btn-mini.btn-danger Cancle Mentorship
      %td
        %a.btn.btn-mini.btn-primary MQuest Menteeship
